@model IEnumerable<Loppuprojekti_MVC.Models.CountryList>
@{
    ViewBag.Title = "Country";
    string letters = ViewBag.Letters;
    <br />
}
<div style="background:transparent !important" class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Countries</h1>

        @*<div class="row">
            <div class="col-md-6 text-right">
                <div id="chart1" class="text-right"></div>
            </div>
        </div>*@

    </div>
</div>

<p class="lead">
    @if (!string.IsNullOrEmpty(letters))
    {
        foreach (var c in letters)
        {
            @Html.ActionLink(c.ToString().ToUpper(), "CountryIndex", new { firstLetter = c.ToString() })

            @: &nbsp;
        }
    }
</p>


@foreach (var s in Model)
{
    <ul>
        @Html.ActionLink(s.Country, "Country", new { country = s.IsoCode })
    </ul>
}

<p class="lead"><a href="javascript:void(0);" onclick="history.go(-1);">Back</a></p>


@section scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script>
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            // Pie Chart with Data Array:
            var arr = [
                ['Region', 'Species Percentage'],
                ['Africa', { v: 10333, f: '10 333 species' }],
                ['Europe', { v: 13456, f: '1 3456 species' }],
                ['Mediterranean', { v: 4709, f: '4 709 species' }],
                ['Gulf of Mexico', { v: 940, f: '940 species' }],
                ['Persian Gulf', { v: 471, f: '471 species' }],
                ['Others', { v: 69422, f: '69 422 species' }]
            ];
            var data = google.visualization.arrayToDataTable(arr, false);
            var option = {
                title: 'Species from regions',
                width: 400,
                height: 300
            };
            var chart = new google.visualization.PieChart(document.getElementById('chart1'));
            chart.draw(data, option);

            //3D Pie Chart:
            option.is3D = true;
            chart = new google.visualization.PieChart(document.getElementById('chart2'));
            chart.draw(data, option);

            // Exploded Pie Chart:
            option.is3D = false;
            option.slices = {
                1: { offset: 0.3 },
                3: { offset: 0.5 }
            };
            chart = new google.visualization.PieChart(document.getElementById('chart3'));
            chart.draw(data, option);

            // Exploded 3D Pie Chart:
            option.is3D = true;
            chart = new google.visualization.PieChart(document.getElementById('chart4'));
            chart.draw(data, option);
        }
    </script>
}