@model IEnumerable<Loppuprojekti_MVC.Models.CountryList>
@{
    ViewBag.Title = "Country";
    string letters = ViewBag.Letters;
    <br />
}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Countries</h1>
        <p class="lead">
            @if (!string.IsNullOrEmpty(letters))
            {
                foreach (var c in letters)
                {
                    @Html.ActionLink(c.ToString().ToUpper(), "CountryIndex", new { firstLetter = c.ToString() })

                    @: &nbsp;
                }
            }
        </p>
        <p class="lead"><a href="javascript:void(0);" onclick="history.go(-1);">Back</a></p>
    </div>
</div>


@*<h1>Countries</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-right">
                @*<h4 style="margin-left:200px">Simple Pie Chart</h4>*@
@*<div id="chart1" class="text-right"></div>
            </div>
        </div>
    </div>*@


@*@if (!string.IsNullOrEmpty(letters))
{
    foreach (var c in letters)
    {
        @Html.ActionLink(c.ToString().ToUpper(), "CountryIndex", new { firstLetter = c.ToString() }) 

        @: &nbsp;
    }
}*@

@*<div id="carousesOfFlags" class="carousel slide" style="width: 200px; height:160px; margin: 0 auto" data-ride="carousel" data-interval="2500">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="http://flags.fmcdn.net/data/flags/h80/af.png" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="http://flags.fmcdn.net/data/flags/h80/al.png" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="http://flags.fmcdn.net/data/flags/h80/dz.png" alt="Third slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="http://flags.fmcdn.net/data/flags/h80/bs.png" alt="4 slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="http://flags.fmcdn.net/data/flags/h80/bh.png" alt="5 slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="http://flags.fmcdn.net/data/flags/h80/bd.png" alt="6 slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="http://flags.fmcdn.net/data/flags/h80/kh.png" alt="7 slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="http://flags.fmcdn.net/data/flags/h80/cm.png" alt="8 slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="http://flags.fmcdn.net/data/flags/h80/ca.png" alt="9 slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="http://flags.fmcdn.net/data/flags/h80/cd.png" alt="10 slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="http://flags.fmcdn.net/data/flags/h80/dk.png" alt="11 slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="http://flags.fmcdn.net/data/flags/h80/dj.png" alt="12 slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="http://flags.fmcdn.net/data/flags/h80/tl.png" alt="13 slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="http://flags.fmcdn.net/data/flags/h80/ec.png" alt="14 slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="http://flags.fmcdn.net/data/flags/h80/eg.png" alt="15 slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="http://flags.fmcdn.net/data/flags/h80/fj.png" alt="16 slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="http://flags.fmcdn.net/data/flags/h80/fr.png" alt="17 slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="http://flags.fmcdn.net/data/flags/h80/ga.png" alt="18 slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="http://flags.fmcdn.net/data/flags/h80/gm.png" alt="19 slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="http://flags.fmcdn.net/data/flags/h80/ge.png" alt="20 slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="http://flags.fmcdn.net/data/flags/h80/ht.png" alt="21 slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="http://flags.fmcdn.net/data/flags/h80/hn.png" alt="22 slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="http://flags.fmcdn.net/data/flags/h80/hu.png" alt="23 slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="http://flags.fmcdn.net/data/flags/h80/is.png" alt="24 slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="http://flags.fmcdn.net/data/flags/h80/in.png" alt="25 slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="http://flags.fmcdn.net/data/flags/h80/id.png" alt="26 slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="http://flags.fmcdn.net/data/flags/h80/jm.png" alt="27 slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="http://flags.fmcdn.net/data/flags/h80/jp.png" alt="28 slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="http://flags.fmcdn.net/data/flags/h80/jo.png" alt="29 slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="http://flags.fmcdn.net/data/flags/h80/kz.png" alt="30 slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="http://flags.fmcdn.net/data/flags/h80/ke.png" alt="31 slide">
            </div>

        </div>
    </div>*@


@foreach (var s in Model)
{
    <ul>
        @Html.ActionLink(s.Country, "Country", new { country = s.IsoCode })
    </ul>
}


@section scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script>
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            // Pie Chart with Data Array:
            var arr = [
                ['Region', 'Species Percentage'],
                ['Africa', { v: 10333, f: '10 333 species' }],
                ['Europe', { v: 13456, f: '1 3456 species' }],
                ['Mediterranean', { v: 4709, f: '4 709 species' }],
                ['Gulf of Mexico', { v: 940, f: '940 species' }],
                ['Persian Gulf', { v: 471, f: '471 species' }],
                ['Others', { v: 69422, f: '69 422 species' }]
            ];
            var data = google.visualization.arrayToDataTable(arr, false);
            var option = {
                title: 'Species from regions',
                width: 400,
                height: 300
            };
            var chart = new google.visualization.PieChart(document.getElementById('chart1'));
            chart.draw(data, option);

            //3D Pie Chart:
            option.is3D = true;
            chart = new google.visualization.PieChart(document.getElementById('chart2'));
            chart.draw(data, option);

            // Exploded Pie Chart:
            option.is3D = false;
            option.slices = {
                1: { offset: 0.3 },
                3: { offset: 0.5 }
            };
            chart = new google.visualization.PieChart(document.getElementById('chart3'));
            chart.draw(data, option);

            // Exploded 3D Pie Chart:
            option.is3D = true;
            chart = new google.visualization.PieChart(document.getElementById('chart4'));
            chart.draw(data, option);
        }
    </script>
}