@model IEnumerable<Loppuprojekti_MVC.Models.CountrySpecies>
@{
    ViewData["Title"] = "CRSpecies";

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">List of critically endangered species in @ViewBag.C</h1>
            <p class="lead"><a href="javascript:void(0);" onclick="history.go(-1);">Back</a></p>
        </div>
    </div>
}


@foreach (var s in Model)
{
    <ul>
        @Html.ActionLink(s.ScientificName, "SingleSpecies", "Species", new { searchTerms = s.ScientificName })
    </ul>
}