
@{
    ViewData["Title"] = "Index";
}

<div style="background:transparent !important" class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Search</h1>
    </div>
</div>

@using (Html.BeginForm("searchTerms", "Species", "SingleSpecies", FormMethod.Get))
{
    <div class="row" style="position:center;">
        <input type="text" style="width:100%;"
               name="searchTerms" placeholder="Search with Scientific name" aria-label="Search with Scientific name" />
        <br />
        <input style="position:relative;" type="submit" name="Search" value="Search" id="searchTerms" />
    </div>
    <br />
}