
@{
    ViewData["Title"] = "ResourcesIndex";
}

<div style="background:transparent !important" class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Resources</h1>
    </div>
</div>


<ul class="list-group">
    <li class="list-group-item"><a href="https://www.iucnredlist.org/">IUCN RED LIST</a></li>
    <li class="list-group-item"><a href="https://www.gbif.org/">Global Biodiversity Information Facility - Free and open Access Biodiversity Data</a></li>
    <li class="list-group-item"><a href="http://www.sciname.info/">SciName Finder</a></li>
    <li class="list-group-item"><a href="https://laji.fi/">Suomen lajitietokeskus </a></li>
    <li class="list-group-item"><a href="http://www.luomus.fi/fi">Luonnontieteellinen keskusmuseo</a></li>
</ul>
