
@{
    ViewData["Title"] = "ResourcesIndex";
}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>

}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Endangered Planet - Resources</h1>
        <p class="lead"></p>
    </div>
</div>





<a href="https://www.iucnredlist.org/" title="Go to IUCN home page">IUCN Red List</a>

@*<ul class="list-group">
        <li class="list-group-item"><a href="https://www.iucnredlist.org/">IUCN RED LIST website</a></li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
    </ul>*@