
@{
    ViewData["Title"] = "ResourcesIndex";
}

<div style="background:transparent !important" class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Endangered Planet - Resources</h1>
        <p class="lead">Data is loaded from IUCN RedList -REST API: <i>IUCN 2020. IUCN Red List of Threatened Species. Version 2020-2</i> <www.iucnredlist.org></p>
        <p class="lead"></p>
    </div>
</div>

<a href="https://www.iucnredlist.org/" title="Go to IUCN home page">IUCN Red List</a>
