@{ 
    ViewData["Title"] = "Index";
}

<h2>About - this project</h2>

<h3>Project group Happy Birds</h3>
<p>For our final projectin the Academy C# bootcamp, we wanted to give something back. Using the IUCN REST API for our final project, we can use our newly acquired skills to higlight the outstanding work they do. Shedding light to the endangered species reminds us how fragile our planet is. We can all take part in cherishing it. </p>
<p>Please browse through the searches for threatened species in various countries, or search them with their names.</p>

<div>Data is loaded from IUCN RedList -REST API: <i>IUCN 2018. IUCN Red List of Threatened Species. Version 2018-2</i> <www.iucnredlist.org></div>
