@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>When you use our services, you’ll be deligted to hear that we do not collect any information of the user. We understand that collecting and storing information is a big responsibility and thus do not feel the need to collect your information.</p>

http://127.0.0.1:40315/html_preview/figure/unnamed-chunk-1-1.png